/* *{
    margin: 2px;
    padding: 10px;
   
    border: 2px solid;
    border-radius: 10px;
   background-color: rgb(196, 245, 248)
} */
.field{

margin: 2px;
    padding: 10px;
    color: brown;
    border: 2px solid;
    border-radius: 10px;
    align-content: space-between;
   background-color: rgb(196, 245, 248)}
.field input{
    background-color: darkseagreen;
    border: 10px;
    border-radius: 10px;
    padding: 20px;
   
}
.btn{
color: rgb(251, 251, 251);
background-color: darkblue;
padding: 20px;
border: 20px;
border-radius: 10px;
   }
.btn:hover{
    color: green;
    background-color: darkseagreen;
}
